.listComponent .listItem::before{
    counter-increment: listItem;
    content: "0" counter(listItem) ".";
    display: block;
    border-bottom: #707070 1px solid;
    font-size: 70px;
    color: #707070;
    font-family: "Merriweather", serif;
    padding-top: 104px;
}

.listComponent ol{
    list-style: none;
    padding : 0 ;
    counter-reset: listItem;
    
}
 
.link{
    color: #FF0000;
    margin-top: 34px;
}

.stile{
    margin-top: 15px;
    color: #707070;
    font-family: "Merriweather", serif;
    font-size: 22px;

}